{% extends 'public/layout.html' %}
{% block title %}Registrar Herramientas{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nueva Herramienta
        <hr>
    </h2>

    <form action="{{ url_for('formAddHerramienta') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="articulo">Articulo</label>
                <input type="text" name="articulo" class="form-control" required>
            </div>
            <div class="col">
                <label for="description">Descripción</label>
                <input type="text" name="description" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="direccion">Dirección</label>
                <input type="text" name="direccion" class="form-control" required>
                
            </div>
            <div class="col">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" class="form-control" required>
                
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="precio">Precio</label>
                <input type="text" name="precio" class="form-control" required>
                
            </div>

            <div class="col">
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" class="form-control" required>
                <br><br>
                
            </div>
        </div>

       
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}