{% extends 'public/layout.html' %}
{% block title %}Registrar Herramientas{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Actualizar Información de las Herramientas
        <hr>
    </h2>

    {% if (dataInfo) %}
      <form action="{{ url_for('formActualizarHerramienta', idHerramienta = dataInfo.id ) }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="text" class="form-control" name="id" value="{{ dataInfo.id }}" required hidden>
        
        <div class="row">
            <div class="col">
                <label for="articulo">Articulo</label>
                <input type="text" name="articulo" value="{{ dataInfo.articulo }}" class="form-control">
            </div>
            <div class="col">
                <label for="description">Descripción</label>
                <input type="text" name="description" value="{{ dataInfo.description }}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion" value="{{ dataInfo.direccion }}" class="form-control">
            </div>

            <div class="col">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" value="{{ dataInfo.telefono }}" class="form-control">
                
            </div>
        </div>

        
        <div class="row">
            <div class="col">
                <label for="precio">Precio</label>
                <input type="text" name="precio" value="{{ dataInfo.precio }}" class="form-control">
               
            </div>

            <div class="col">
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" value="{{ dataInfo.fecha }}" class="form-control">
                <br><br>
               
            </div>
        </div>

        <hr>
        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Actualización">
    </form>

      {% else %}
      <div class="col-12">
          <h2 class="text-center">
              No existen fotos de las herramientas
          </h2>
      </div>
{% endif %}

</section>

{% endblock %}